.mat-form-field {
  width: 30em;
  max-width: 100%;
}

.mat-table {
  width: 100%;
}

.mat-progress-bar {
  width: 100%;
}

.mat-header-cell {
  padding: 1em;
}

.mat-column-icon {
  text-align: center;
  width: 5em;
  max-width: 100%;
}

.mat-column-gateway {
  width: 50em;
  max-width: 100%;
}
